.container {
	width: 980px;
	background-color: #404040;
	color: #ffffff;
	margin: 0 auto;
	display: grid;
	grid-template-rows: auto;
	grid-template-areas:
	"header header header"
	"name name name"
	"views peak total"
	"chat avg duration"
	"end end button"
	
}
.header {
	padding-left: 20px;
	grid-area: header;
	
}
.name {
	background-color: #000000;
	grid-area: name;
}
.views {
	padding-left: 20px;
	grid-area: views;
}
.peak {
	padding-left: 20px;
	grid-area: peak;
}
.total {
	padding-left: 20px;
	grid-area: total;
}
.chat {
	padding-left: 20px;
	grid-area: chat;
}
.avg {
	padding-left: 20px;
	grid-area: avg;
}
.duration {
	padding-left: 20px;
	grid-area: duration;
}
.end {
	padding-left: 20px;
	grid-area: end;
}
.foto {
	height: 200px;
}
.title {
	margin-left: 225px;
}
.button {
	grid-area: button;
	background-color: #0000ff;
	width: 150px;
	margin: 0 20px;
}
